@model LightNovelSite.Models.Novels

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Novels</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chapters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chapters)
        </dd>

        <h4>Description</h4>

        <p>
            Growing up in poverty, Sunny never expected anything good from life. However, even he did not anticipate being chosen by the Nightmare Spell and becoming one of the Awakened - an elite group of people gifted with supernatural powers. Transported into a ruined magical world, he found himself facing against terrible monsters - and other Awakened - in a deadly battle of survival.
            What's worse, the divine power he received happened to possess a small, but potentially fatal side effect...
        </p>
    </dl>
</div>
<div>
    <a asp-action="Read">Read</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Title">Edit</a> |
    <a asp-action="Index">Back to List</a> 
</div>
